@page "/"
@using System.ComponentModel.DataAnnotations
@using CalculateurCotisationsFront.Components.Data
@inject CotisationsApiHttpClient ApiHttpClient

<PageTitle>Calculateur de cotisations</PageTitle>

<h1>Bienvenue</h1>

<p class="intro">
    Ce calculateur est à destination des travailleuses et travailleurs indépendant·e·s se trouvant en métropole et ayant un statut de profession libérale non réglementée. D'autres cas pourront être implémentés à l'avenir mais ce n'est pas prévu pour l'instant.
</p>
<EditForm Model="Form" FormName="Name" OnValidSubmit="@SubmitForm">
    <DataAnnotationsValidator />
    <label for="revenuNet" class="form-label fs-4">Revenu net annuel :</label>
    <div class="input-group mb-3">
        <span class="input-group-text">€</span>
        <InputNumber @bind-Value="Form!.RevenuNet" ParsingErrorMessage="Merci d'entrer un nombre entier positif." id="revenuNet" class="form-control" title="Entrez ici votre revenu net pour l'année 2024" required/>
        <InputSelect @bind-Value="Form.Annee" id="annee" class="form-control form-select">
            <option value="2024">2024</option>
            <option value="2023">2023</option>
        </InputSelect>
    </div>
    <input type="submit" class="btn btn-primary" title="Cliquez ici pour lancer le calcul des cotisations" value="Lancer le calcul"/>
</EditForm>
@if (Cotisations is not null)
{
    <div id="resultsContainer" class="mt-5">
        <CotisationsTable Cotisations="@Cotisations" RevenuNet="@Form!.RevenuNet"></CotisationsTable>
    </div>
}

@code
{
    [SupplyParameterFromForm]
    MyForm? Form { get; set; } = new();
    ResultatPrecisDeCotisationsAvecExplications? Cotisations { get; set; }

    protected override Task OnInitializedAsync()
    {
        Form ??= new MyForm();
        return Task.CompletedTask;
    }

    public class MyForm
    {
        [Required]
        [Range(1, int.MaxValue)]
        public decimal RevenuNet { get; set; }

        public int Annee { get; set; } = DateTime.Today.Year;
    }

    private async Task SubmitForm()
    {
        if (Form.RevenuNet > 0)
        {
            Cotisations = await ApiHttpClient.GetCotisations(Form.RevenuNet, Form.Annee);
        }
    }
}